@model Lanche

<div class="container">
    <div class="row justify-content-between">
        <div class="col-3">
            <div class="thumbnail">
                <img src="@Model.ImagemUrl" class="img-rounded" alt="lanche" width="250px"/>
            </div>
            <div class="caption">
                <h3 class="pull-right">@Model.Preco.ToString("c")</h3>
                <h3>
                    @Model.Nome
                </h3>
                <p>@Model.DescricaoCurta</p>
            </div>
        </div>
    </div>
</div>
